<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Item 0</key>
	<dict>
		<key>Name</key>
		<string>Ryan&apos;s House</string>
		<key>Latitude</key>
		<real>25.55</real>
		<key>Longitude</key>
		<real>35.55</real>
	</dict>
</dict>
</plist>
